/* @tailwind base;
@tailwind components;
@tailwind utilities; */
:root {
  --window-width: 15vw;
  --window-height: 20vh;
  --button-width: 20vw;
  --button-height: 5vh;
}

html,
body {
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  background: #ef62da;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}
